(define-dist monkeylib (:version "2010-12-07" :base-url "http://www.gigamonkeys.com/quicklisp/")
  ("binary-data" "2010-08-30")
  ("foo" "2010-12-02")
  ("macro-utilities" "2010-08-31")
  ("markup" "2010-12-05")
  ("markup-html" "2010-12-05")
  ("markup-xml" "2010-12-05")
  ("pathnames" "2010-08-30")
  ("prose-diff" "2010-12-07")
  ("spam" "2010-08-30")
  ("statistics" "2010-12-07")
  ("test-framework" "2010-03-02")
  ("utilities" "2010-12-02"))
